* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "outfit";
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff00;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
  padding: 1rem;
}
*::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 10px;
  border: 0px solid #ffffff00;
}
body {
  width: 100vw;
  height: 100vh;
  color: #e4e4e4;
  background-color: #121212;
  overflow-x: hidden;
  padding-top: 2rem;
}
.App {
}
.container {
  /* border: 1px solid red; */
  margin: 0 auto;
  transition: all 0.18s ease-in-out;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
