* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "outfit";
}
body {
  color: #e4e4e4;
  background-color: #121212;
  overflow-x: hidden;
  padding-top: 2rem;
}

.container {
  border: 1px solid red;
  margin: 0 auto;
  transition: all 0.18s ease-in-out;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
